<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/new.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald:200,400,500" rel="stylesheet">
        <title></title>
    </head>
    <body>
        <div class="container">
          <div class="sidebar"></div>
          <div class="registration">
            <h1>START A NEW BLOG</h1>
          <form action="/things" method="POST">
              <h3>Name:</h3><input type="text" name="name" /><br/>

              <h3>Blog about it:</h3> <textarea name="description" rows="8" cols="80"></textarea>
              <!-- <input type="text" name="description" /><br/> -->
              <h3>Image:</h3> <input type="text" name="img" /><br/>
              <h3>Link:</h3> <input type="text" name="link" /><br/>
              <input type="submit" name="" value="CREATE BLOG"/>
          </form>
          </div>
        </div>
    </body>
</html>
